@media (max-width: 479px) {
  .top {
    height: 100%;
  }
  .top .interface {
    flex-direction: column;
    align-items: center;
  }
  .top .interface .esquerda #logo {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .feature p {
    font-size: 10px !important;
    text-align: left !important;
    line-height: 15px !important;
  }
  .top .interface .esquerda,
  .top .interface .direita {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .top .interface .esquerda h1 {
    font-size: 32px;
    text-align: center;
  }
  .top .interface .esquerda button {
    margin: 0 auto;
    display: flex;
  }
  .top .interface .esquerda .data,
  .top .interface .esquerda p,
  .top .interface .esquerda ul {
    text-align: center;
    width: 100%;
  }
  .top .interface .esquerda ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .top .interface .direita {
    margin-top: 20px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .aula {
    width: 75%;
    margin: 10px 0;
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
  }
  .aula h2 {
    font-size: 23.2px;
  }
  .aula p {
    font-size: 16px;
  }
  .aula ul li img {
    width: 16px;
  }
  .aula ul li span {
    font-size: 16px;
  }
  .tratamento-dados {
    height: 170px;
    padding: 40px 0;
  }
  .text-container {
    text-align: center;
    line-height: 18px;
    display: flex;
    margin: 0 10px;
  }
  .tratamento-dados .text-container p {
    text-indent: 0;
    max-width: 700px;
    margin-left: -8px;
  }
  #inscricao .container-inscricao h2 {
    font-size: 23px;
  }
  #inscricao .passos {
    display: block;
    align-items: center;
    padding: 20px 10px;
    margin: 40px 10px 20px;
  }
  #sobre {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
  }
  .about-left,
  .about-rigth {
    max-width: 90%;
    margin: 10px 0;
  }
  .about-rigth .abaut {
    padding: 20px;
  }
  .about-rigth .area-botao {
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: space-around;
  }
  .about-rigth .area-botao h4 {
    max-width: 40%;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .about-rigth .area-botao button {
    width: 60%;
    border: 2px solid #343434;
    box-shadow: 5px 0 4px #000;
    cursor: pointer;
    font-size: 16px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 150px;
  }
  footer a {
    margin: 5px 0;
  }
  footer a span {
    display: none;
  }
  footer img {
    margin-bottom: 10px;
  }
}
