@media (min-width: 360px) and (max-width: 431px){
  .top {
    height: 100%;
  }
  .top .interface {
    flex-direction: column;
    align-items: center;
  }
  .top .interface .esquerda #logo {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .feature p {

    font-size: 8px !important;
    text-align: left !important;

  }
 
  .top .interface .esquerda,
  .top .interface .direita {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .top .interface .esquerda h1 {
    font-size: 32px;
    text-align: center;
  }
  .top .interface .esquerda button {
    margin: 0 auto;
    display: flex;
  }

  .top .interface .esquerda .data,
  .top .interface .esquerda p,
   .top .interface .esquerda ul{
    text-align: center;
    width: 100%;
  }
  .top .interface .esquerda ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .top .interface .direita {
    margin-top: 20px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .aula {
    width: 95%;
    margin: 10px 0;
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
  }
  .aula h2 {
    font-size: 23.2px;
  }
  .aula p {
    font-size: 16px;
  }
  .aula ul li img {
    width: 16px;
  }
  .aula ul li span {
    font-size: 16px;
  }
  .tratamento-dados {
    height: 170px;
    padding: 40px 0;
  }
   .text-container {
    justify-content: center;
    display: flex;
    width: 100%;
  }
  .tratamento-dados .text-container p {
    text-align: justify;
    max-width: 100%;
    padding: 0 15px;
  }
  #inscricao .container-inscricao h2 {
    font-size: 23px;
  }
  #inscricao .passos {
    display: block;
    align-items: center;
    padding: 20px 10px;
    margin: 40px 10px 20px;
  }
  #sobre {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
  }
  .about-left,
  .about-rigth {
    max-width: 90%;
    margin: 10px 0;
  }
  .about-left h3 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 19.2px;
  padding: 10px;
}
  .about-left .info-lira img {
  width: 60px;
}
.about-left .info-lira ul span {
  color: #09c;
  font-size: 16px;
  font-weight: 500;
}
.about-left .info-lira ul p {
  color: #fff;
  font-size: 16px;
}
 
}
